* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

.cima {
    background-color: #5353f6;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 53vh; 
    padding: 0 25px;
    position: relative;
}

.logo {
    display: flex;
    gap: 12px;
    position: absolute;
    top: 10px; 
}

.tracos {
    display: flex;
    flex-direction: column;
    gap: 2px;
    padding-top: 30px;
}

.traco {
    width: 41px;
    height: 7px;
    border-radius: 25px;
}

#traco1, #traco2, #traco3 {
    background-color: #ffffff;
}

#master {
    font-size: 35px;
    padding-top: 16px;
    font-family: "Poppins", sans-serif;
    font-weight: bold;
    color: aliceblue;
}

#pet {
    font-family: "Poppins", sans-serif;
    font-weight: 530;
}

#servicos {
    font-weight: 530;
    padding-left: 3px;
}

#seta {
    padding-left: 5px;
    font-size: 4vh;
    font-family: Arial, Helvetica, sans-serif;
}

a {
    color: white;
    text-decoration: none;
}

#account {
    font-size: 4.8vh;
    padding-right: 8px;
    padding-bottom: 20px;
    position: absolute;
    top: 38px; 
    right: 25px;
}

.meio {
    margin: auto;
    padding-top: 73px;
    padding-bottom: 30px; 
}

#paragrafo {
    font-family: Arial, Helvetica, sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    text-align: center;
    color: white;
    font-size: 28.4px;
}

.baixo{
    padding-top: 34px;
}

.lista{
    color: #5353f6;
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.setas{
    padding: 12px;
}

ul{
    list-style: none;
}

li{
    padding-top: 25px;
    font-family: "Inria Sans", sans-serif;
    font-style: normal;
    font-size: 22px;
}

.linhavertical{
    height: 36vh;
}

.corlink{
    color: #5353f6;
}

#inicioDeLista{
    background-color: #666666; 
}

#veterinario{
    width: 164px;
}

#hotel{
    width: 164px;
}

#vacinas{ 
    width: 155px;
    padding-top: 15px;
}